button.action{
    border: none;
    background: #C0C0C0;
    font-size: 1.5em;
    font-family: inherit;
    cursor: pointer;
}

.torrentInfo{
  margin-top: 5px;
  background-color: #F0F0F0;
  padding: 5px;
}

body{
  background: #663399;
  color: white;
  font-family: monospace;
}

.h1{
  font-size: 2.5em;
}

img.thumbnail{
  width: 50%;
  height: 50%;
  text-align: center;
}

div.table{
  width:100%;
  overflow: auto;
  background: white;
  color: black;
  margin-top: 10px;
}

.ytsDsc{
  font-size: 8px;
}

div.row{
  clear: both;
  padding:5px;
}

div.left{
  text-transform: uppercase;
  font-family: monospace;
  float: left;
}

.left{
  float:left;
}

.down{
  vertical-align: bottom;
}

div.right{

}


div.ytsInfo{
  text-align: center;
  padding: 10%;
  background: yellowgreen;
  margin: 5%;
}


div.options{
  background: #C1C1C1;
  color: black;
  padding: 10px;
  width: 50%;
  height: 100px;
}
